.box {
    min-height: 150px;
    width: 30%;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    box-shadow: 2px 1px 6px 0px rgba(0,0,0,0.2);
}

div.pHeader {
    min-height: 56px;
}

div.pHeader > strong {
    display: block;
    text-align: left;
    margin-left: 70px;
}

div.pHeader > span {
    display: block;
    text-align: left;
    margin-left: 70px;
    color: grey;
}

a.avatar > img {
    position: absolute;
    left: 10px;
    border-radius: 4px;
    max-width: 55px;
}

.eye-icon {
    position: absolute;
    right: 35px;
    top: 19px;
    cursor: pointer;
}
