.box {
    min-height: 30px;
    width: 30%;
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    box-shadow: 2px 1px 6px 0px rgba(0,0,0,0.2);
}

div.pHeader {
    min-height: 56px;
}

div.pHeader > strong {
    display: block;
    text-align: left;
    margin-left: 70px;
}

div.pHeader > span {
    display: block;
    text-align: left;
    margin-left: 70px;
    color: grey;
}

a.avatar > img {
    position: absolute;
    left: 10px;
    border-radius: 4px;
    max-width: 55px;
}

.eye-icon {
    position: absolute;
    right: 35px;
    top: 19px;
    cursor: pointer;
}

.user-profile-container {
    height: 70%;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 363px;
    padding: 20px;
    background-color: #e2e2e2;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    z-index: 1;
}
.user-profile-container .user-img {
    height: 150px;
    flex-shrink: 0;
    width: 150px;
    margin: auto;
}
.user-profile-container .user-name {
    margin-bottom: 10px;
}

.user-profile-container .skills-container, .user-profile-container .badges-container {
    width: 240px;
    margin: auto;
}

.eye-icon path {
    pointer-events: none;
}

.box .img {
    margin-top: -25px;
}

.box .user-name {
    margin-top: -45px;
    font-weight: 600;
}

.box .user-email {
    margin-bottom: 28px;
}

.box .user-profile-container {
    box-shadow: 0px 1px 5px 0px rgba(1, 1, 1, 0.4);
}
