.projects {
    display: flex;
    flex-wrap: wrap;
}

button {
    margin: 5px;
    width: 45%;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #63ace5;
    height: 31px;
    border-radius: 4px;
    height: 35px;
    font-size: 18px;
    margin-top: 25px;
    outline: 0;
}

button:hover {
    background-color: #63ace5;
    color: white;
}