.left-half {
    float: left;
    width: 50%;
}

.right-half {
    float: left;
    width: 50%;
}

.search {
    margin: 20px;
}

.explore-buttons button {
    width: 50%;
    transition-duration: 0.4s;
    background-color: #fff;
    color: #000;
    border: 0 solid #80a696;
    border-top-width: 2px;
    border-bottom-width: 2px;
    height: 59px;
    font-size: 18px;
    outline: 0;
    margin: 25px 0;
    border-radius: 0;
}
.explore-buttons button:hover {
    background-color: #80a696 !important;
    color: white;
}
.active {
    background-color: #f1f1f1 !important;
}

strong {
    font-size: 17px;
    font-weight: 500;
}

.projects, .people {
    margin: 30px 0px;
}
