.box {
    margin: 10px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    padding: 15px;
    box-shadow: 2px 1px 6px 0px rgba(0,0,0,0.2);
}

div.projects {
    text-align: left;
}

div.projects span {
    right: 12px;
    position: absolute;
    top: 12px;
    color: #fff;
    background-color: #63ace5;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 30px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    z-index: 999;
}

.techs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
}

.techItem {
    margin: 5px;
    border-radius: 4px;
    border: 2px solid #000;
    padding: 2px;
    background-color: #d3ecff;
    color: #4D4D4D;;
    font-weight: 500;
}
